<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">


    <title th:text="${assignmentToShowDetailsFor.title}"></title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<!--TODO course werkend maken.-->
<h1><span th:text="${assignmentToShowDetailsFor.title}"></span></h1>
    <table class="table table-striped table-hover">
        <tr>
            <td>Vak</td>
            <td th:text="${assignmentToShowDetailsFor.course.name}"></td>
        </tr>
        <tr>
            <td>Titel</td>
            <td th:text="${assignmentToShowDetailsFor.title}"></td>
        </tr>
        <tr>
            <td>Beschrijving</td>
            <td th:text="${assignmentToShowDetailsFor.description}"></td>
        </tr>
        <tr>
            <td>Volgnummer</td>
            <td th:text="${assignmentToShowDetailsFor.serialNumber}"></td>
        </tr>
    </table>

    <h1>Resultaten</h1>

    <table class="table table-striped table-hover">
        <tr th:each="student : ${assignmentToShowDetailsFor.course.students}">
            <td><a th:href="@{/students/details/{studentId}(studentId=${student.studentId})}"  th:text="${student.displayName}" class="link-dark"></a></td>
            <td>
                <span th:each="submittedVersion : ${student.versionsPerAssignment(assignmentToShowDetailsFor)}">
                    <span th:if="${submittedVersion.getAssessment() == null}">niet beoordeeld</span>
                    <i th:if="${submittedVersion.getAssessment() != null && submittedVersion.getAssessment().pass}" class="fas fa-check-circle"></i>
                    <i th:if="${submittedVersion.getAssessment() != null && submittedVersion.getAssessment().pass == false}" class="fas fa-times-circle"></i>
                </span>
            </td>
        </tr>
    </table>

<div class="center">
    <a th:href="@{/assignments/delete/{assignmentId}(assignmentId=${assignmentToShowDetailsFor.assignmentId})}"><button type="button" class="btn btn-primary">Verwijder Opdracht</button></a>
    <a th:href="@{/assignments/edit/{assignmentId}(assignmentId=${assignmentToShowDetailsFor.assignmentId})}"><button type="button" class="btn btn-primary">Bewerk Opdracht</button></a>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>


</body>