<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">


    <title>Overzicht van opdrachten</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<h1>Overzicht van de opdrachten</h1>
<a th:href="@{/assignments/new}"> Voeg opdracht toe</a>

<div class = "container">
    <table>
        <tr>
            <th>Vak</th>
            <th>Titel van de opdracht</th>
            <th>Beschrijving van de opdracht</th>
        </tr>
        <tr th:each="assignment : ${allAssignments}">
            <td th:text="${assignment.course.name}"></td>
            <td th:text="${assignment.title}"></td>
            <td th:text="${assignment.description}"></td>
            <td><a th:href="@{/assignments/details/{assignmentId}(assignmentId=${assignment.assignmentId})}">Details</a> </td>
        </tr>
    </table>
</div>



<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>