<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Maak nieuwe opdracht</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<h1>Voeg nieuwe opdracht toe</h1>
<div class="form-group">
<form class="center" th:action="@{/assignments/new}" method = "post" th:object="${assignment}">
    <input type="hidden" th:field="*{assignmentId}">
    <div>
        <label th:for="course">Vak</label>
        <select id="course" class="form-control" th:field="*{course}">
            <option th:each="course : ${allCourses}" th:value="${course.courseId}" th:text="${course.name}"></option>
        </select>
    </div>
    <div>
        <label th:for = "title"></label>
        <input id="title" type ="text" class="form-control" th:placeholder="Titel" th:field="*{title}">
    </div>
    <div>
        <label th:for = "description"></label>
        <input id="description" type ="text" class="form-control" th:placeholder="Beschrijving" th:field="*{description}">
    </div>
     <div>
        <label th:for = "serialNumber">Volgnummer</label>
        <input id="serialNumber" type ="number" class="form-control" th:field="*{serialNumber}">
    </div>
    <div class="form-group padding-button-top">
        <Button type="submit" value = "sla op" class="btn btn-primary">Voeg opdracht toe</Button>
    </div>

</form>
</div>
<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>
</body>