<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Ingeleverde opdrachten</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<h1>Ingeleverde opdrachten</h1>
<table class="center">
    <tr>
        <th>Naam Student</th>
        <th>Opdracht</th>
        <th>Versie</th>
        <th>Inleverdatum</th>
        <th>Beoordeling</th>
    </tr>
    <tr th:each="submittedVersion : ${allSubmittedVersions}">
        <td><a th:href="@{/submittedVersions/submittedVersionsPerStudent/{studentId}(studentId=${submittedVersion.student.getStudentId()})}" th:text="${submittedVersion.studentDisplayName}"></a></td>
        <td><a th:href="@{/assignments/details/{assignmentId}(assignmentId=${submittedVersion.assignment.getAssignmentId()})}" th:text="${submittedVersion.getAssignment().getTitle()}"></a></td>
        <td><a th:href="@{/submittedVersions/details/{versionId}(versionId=${submittedVersion.versionId})}" th:text="${submittedVersion.versionId}"></a></td>
        <td th:text="${submittedVersion.dateSubmitted}"></td>
        <td>
            <span th:if="${submittedVersion.assessment == null}"><a th:href="@{/assesments/new}">Beoordeel</a></span>
            <span th:unless="${submittedVersion.assessment == null}"><a th:href="@{/submittedVersions/details/{versionId}(versionId=${submittedVersion.versionId})}">Ga naar beoordeling</a></span>
        </td>
    </tr>
</table>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>


</body>
</html>