h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.center {
    margin: 0 auto;
    width: 70%;
}

.centerSmall {
    margin: 0 auto;
    width: 40%;
}

a.nav-link{
    color: white;
}

a.nav-link:hover {
    color: lightskyblue;
}

.padding-button-top{
    padding-top: 10px;
}

.padding-button-bottom{
    padding-bottom: 10px;
}

.fa-check-circle {
    color: green;
}

.fa-times-circle {
    color: red;
}

.fa-circle-plus {
    color: blue;
    text-decoration: none;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}



