h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.center {
    margin: 0 auto;
    width: 70%;
}

.table {
    width: 70%;
    margin-left: 15%;
}

a.nav-link{
    color: white;
}

a.nav-link:hover {
    color: lightskyblue;
}

.padding-button{
    padding-top: 10px;
}