<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Beoordeling</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h1>Nieuwe beoordeling</h1>

    <form class="center" th:action="@{/assessments/new/{versionId}(versionId=${assessment.submittedVersion.versionId})}" method="post" th:object="${assessment}">
        <input type="hidden" th:field="*{assessmentId}">

        <div class="form-group">
            <label th:for="pass">gehaald</label>
            <input type="checkbox"
                   name="pass"
                   th:checked="${pass}"/>
        </div>


        <div class="form-group">
            <label for="feedback" class="form-label">Feedback keuzemenu</label>
            <select id="feedback" class="form-control" th:field="*{feedbacks}" multiple>
                <option th:each="feedback : ${allFeedback}" th:value="${feedback.feedbackId}" th:text="${feedback.title}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="specifiekeFeedback" class="form-label">Feedback vrije invoer</label>
            <input id="specifiekeFeedback" type="text" class="form-control" th:field="*{specifiekeFeedback}">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Sla assessment op</button>
        </div>
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>