<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>Overzicht beoordelingen</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="center">
  <h1>Overzicht beoordelingen</h1>
  <table>
    <tr>
      <th>student</th>
      <th>ingeleverde opdracht</th>
      <th>gehaald / niet gehaald</th>
      <th>feedback</th>
      <th>extra feedback</th>
      <th>edit</th>
      <th>delete</th>
    </tr>

    <tr th:each="submittedVersion : ${allSubmittedVersions}">
      <td th:text="${submittedVersion.student}">student</td>
      <td th:text="${submittedVersion}">opdracht</td>
      <td th:text="${submittedVersion.assessment.pass}">gehaald of niet gehaald</td>
      <td th:text="${submittedVersion.assessment.feedbacks}">tekst</td>
      <td th:text="${submittedVersion.assessment.specifiekeFeedback}">tekst</td>

      <td><a th:href="@{/assessments/edit/{assessmentId}(assessmentId=${submittedVersion.assessment.assessmentId})}">Edit</a></td>
      <td><a th:href="@{/assessments/delete/{assessmentId}(assessmentId=${submittedVersion.assessment.assessmentId})}">Delete</a></td>
    </tr>
  </table>

  <a th:href="@{/assessments/new}">Maak een beoordeling</a>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>