<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="${courseToShow.name}"></title>
</head>
<body>
    <div th:replace="fragments/general :: navbar"></div>
    <h1>Details van <span th:text="${courseToShow.name}"></span></h1>

    <table class="table table-striped table-hover">
        <tr>
            <th>Klas</th>
            <td th:text="${courseToShow.name}"></td>
        </tr>
        <tr>
            <th>Studierichting</th>
            <td th:text="${courseToShow.fieldOfStudy}"></td>
        </tr>
    </table>

    <h2>Studentresultaten</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>Naam student</th>
            <th th:each="assignment : ${courseToShow.assignments}" th:text="${assignment.title}"></th>
            <th></th>
        </tr>
        <tr th:each="student : ${courseToShow.students}">
            <td th:text="${student.displayName}"></td>
            <td th:each="assignment : ${courseToShow.assignments}">
                <span th:each="submittedVersion :${student.versionsPerAssignment(assignment)}">
                    <a th:if="${submittedVersion.assessment == null}" th:href="@{/assessments/new/{versionId}(versionId=${submittedVersion.versionId})}"><i class="fas fa-hourglass-end"></i></a>
                    <a th:if="${submittedVersion.assessment != null && submittedVersion.assessment.pass}" th:href="@{/submittedVersions/details/{versionId}(versionId=${submittedVersion.versionId})}"><i class="fas fa-check-circle"></i></a>
                    <a th:if="${submittedVersion.assessment != null && submittedVersion.assessment.pass == false}" th:href="@{/submittedVersions/details/{versionId}(versionId=${submittedVersion.versionId})}"><i class="fas fa-times-circle"></i></a>
                </span>
                    <a th:if="${student.passedPreviousAssignment(assignment) == true && student.assignmentPassed(assignment) == false || assignment.serialNumber == 1 && student.assignmentPassed(assignment) == false}" th:href="@{/submittedVersions/new/{studentId}/{assignmentId}(studentId=${student.studentId},assignmentId=${assignment.assignmentId})}" class="fa-solid fa-circle-plus"></a>
            </td>

            <td>
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="fa-solid fa-trash-can"></i>
            </button>
                <!-- Modal -->
                <div class="modal fade" th:id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Verwijdering student</h5>
                            </div>
                            <div class="modal-body">
                                Weet je zeker dat je deze student wil verwijderen?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sluit</button>
                                <a th:href="@{/students/remove-student/{courseId}/{studentId}(studentId=${student.studentId}, courseId=${courseToShow.courseId})}">
                                    <button type="button" class="btn btn-primary">Verwijder student </button>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <h2>Opdrachten</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>Titel</th>
            <th>Volgnummer</th>
            <th>Beschrijving</th>
        </tr>
        <tr th:each="assignment : ${courseToShow.assignments}">
            <td th:text="${assignment.title}"></td>
            <td>
                <span th:text="${assignment.serialNumber}"></span>

                <a th:unless="${assignment.serialNumber == courseToShow.assignments.size()}" th:href="@{/courses/editOrderAssignment/{courseId}/{assignmentId}(add='plus', courseId=${courseToShow.courseId}, assignmentId=${assignment.assignmentId})}">
                    <i class="fa-solid fa-plus float-lg-end"></i>
                </a>
                <a th:unless="${assignment.serialNumber == 1}" th:href="@{/courses/editOrderAssignment/{courseId}/{assignmentId}(add='min', courseId=${courseToShow.courseId}, assignmentId=${assignment.assignmentId})}">
                    <i class="fa-solid fa-minus float-lg-end"></i>
                </a>
            </td>
            <td th:text="${assignment.description}"></td>
        </tr>

    </table>

    <div class="center">
          <a th:href="@{/courses/edit/id/{courseId}(courseId=${courseToShow.courseId})}">
            <button type="button" class="btn btn-primary">Edit</button>
        </a>
    </div>

    <div th:replace="fragments/general :: footer"></div>

    <div th:replace="fragments/general :: bottomScripts"></div>

</body>

</html>