<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="${courseToShow.name}"></title>
</head>
<body>
    <div th:replace="fragments/general :: navbar"></div>
    <h1>Details van het vak: <span th:text="${courseToShow.name}"></span></h1>

    <table class="center">
        <tr>
            <th>Klas</th>
            <td th:text="${courseToShow.name}"></td>
        </tr>
        <tr>
            <th>Studierichting</th>
            <td th:text="${courseToShow.fieldOfStudy}"></td>
        </tr>
    </table>

    <h2>Studenten in deze klas:</h2>
    <table class="center">
        <tr>
            <th>Voornaam</th>
            <th>Tussenvoegsel</th>
            <th>Achternaam</th>
            <th>Githubaccount</th>
        </tr>
        <tr th:each="student : ${courseToShow.students}">
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.inFixName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.githubAccount}"></td>
            <td> <a th:href="@{/students/remove-student/{courseId}/{studentId}(studentId=${student.studentId}, courseId=${courseToShow.courseId})}">Verwijder student</a></td>
        </tr>
    </table>
    <h2>Opdrachten betreffende deze klas</h2>
    <table class="center">
        <tr>
            <th>Titel</th>
            <th>Beschrijving</th>
        </tr>
        <tr th:each="course : ${courseToShow.assignments}">
            <td th:text="${course.title}"></td>
            <td th:text="${course.description}"></td>
        </tr>

    </table>
    <table>
        <tr>
            <td><a th:href="@{/courses/delete/{courseId}(courseId=${courseToShow.courseId})}">Delete</a></td>
        </tr>
    </table>

    <div th:replace="fragments/general :: footer"></div>

    <div th:replace="fragments/general :: bottomScripts"></div>

</body>

</html>