<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Overview feedback</title>
</head>
<body>
<h1>Overzicht gegeven feedback</h1>


<table class="center">
    <tr>
        <th>Soort feedback</th>
        <th>Tekst feedback</th>

    </tr>
    <tr th:each="feedback : ${allFeedback}">
        <td><a th:href="@{/feedback/details/id/{feedbackId}(feedbackId=${feedback.feedbackId})}"
               th:text="${feedback.title}">Soort feedback</a></td>
        <td th:text="${feedback.content}"></td>
    </tr>
</table>

<div class="center">
    <a th:href="@{/feedback/new}">Voeg nieuwe feedback toe</a>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>


</body>
</html>