<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Create feedback</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>


        <h1>Create feedback</h1>

        <form class="center" th:action="@{/feedback/new}" method="post" th:object="${feedback}">
            <input type="hidden" th:field="*{feedbackId}">

            <div>
                <label th:for="title"></label>
                <input id="title" type ="text" class="form-control" th:placeholder="Feedbacksoort" th:field="*{title}">
            </div>
            <div>
                <label th:for="content"></label>
                <input id="content" type ="text" class="form-control" th:placeholder="Feedbacktekst" th:field="*{content}">
            </div>


            <div class="form-group padding-button">
                <button type="submit" class="btn btn-primary">Sla op</button>
            </div>
        </form>


<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>