<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">


    <title>Details van student</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class = "container">
<table>
    <tr>
        <td>Voornaam</td>
        <td th:text="${studentToShowDetailsFor.firstName}"></td>
    </tr>
    <tr>
        <td>Tussenvoegsel</td>
        <td th:text="${studentToShowDetailsFor.inFixName}"></td>
    </tr>
    <tr>
        <td>Achternaam</td>
        <td th:text="${studentToShowDetailsFor.lastName}"></td>
    </tr>
    <tr>
        <td>Githubaccount</td>
        <td th:text="${studentToShowDetailsFor.githubAccount}"></td>
    </tr>
    <tr th:each="course : ${studentToShowDetailsFor.courses}">
        <td>Vakken</td>
        <td th:text="${course.name}"></td>
    </tr>
    <tr>
    <td><a th:href="@{/students/edit/{studentId}(studentId=${studentToShowDetailsFor.studentId})}">Edit</a></td>
    <td><a th:href="@{/students/delete/{studentId} (studentId=${studentToShowDetailsFor.studentId})}">Delete</a></td>
    </tr>
</table>


</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>


</body>